<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" ngModel required email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
          </div>
          <div class="form-group">
            <label for="subscription">Subscription</label>
            <select name="subscription" id="subscription" class="form-control" ngModel="advanced" #subscription="ngModel">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
            <span class="help-block" *ngIf="!subscription.valid && subscription.touched">Please choose a subscription!</span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ngModel required #password="ngModel">
            <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password!</span>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </form>
        <p *ngIf="!f.valid && f.touched">Form Data is invalid</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="isSubmitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Mail: {{ userData.email }}</p>
      <p>Subscription: {{ userData.subscription }}</p>
    </div>
  </div>
</div>
